# Telegram Bot (интерфейс + подарки)
aiogram>=3.0
aiohttp

# Для отслеживания подарков через Userbot (опционально)
telethon
cryptg

# Runner API
fastapi
uvicorn[standard]
pydantic

# Утилиты
python-dotenv
